.banner {
    background: #B8D696;
    padding: 70px 0;
    position: relative;
    z-index: 1;

    &:before,
    &:after {
      background: inherit;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      -webkit-backface-visibility: hidden; // for Chrome Windows
    }

    &:before {
      top: 0;
      transform: skewY(2deg);
      transform-origin: 100% 0;
    }

    &:after {
      bottom: 0;
      transform: skewY(-2deg);
      transform-origin: 100%;
    }
  }

.banner p {
  color: rgb(12, 5, 5);
  opacity: .7;
  font-size: 20px;
}

.avatar-large {
  width: 200px;
  border-radius: 50%;
  border: #020202 1px solid;

}

.banner img {
  position: absolute;
  right: 400px;
  top: 50px;
  }

  .banner h1 {
  margin-left: 5%;
  color: #020202;
  }
